.blogTitle{
    font-size: 4rem;
    background-color: #ECA1A6;
    height: 400px;
    box-shadow: 6px 5px rgb(87, 86, 86); 
}

body {
background-color: #D6CBD3;
font-family: Arial, Helvetica, sans-serif;
color: #123614;
}

.card{
background-color: #b63593;

}